body {
    background-position: center;
    text-align: center;
    background-image: url("desert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }

h1, h2, p {
    background-color: white;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 300px;
    padding:30px;
}

#white {
    background-color: white;
    color: black;
    
}